* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






.hero-img {
    margin-top: 50px;
    height: 500px;
    width: 80%;
}


img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


.section1 {
    position: relative;
    min-height: 650px;
    width: 100%;
    background: url('images/hero-bg-2.jpg') center/cover no-repeat;
    overflow: hidden;
}

.section1 .hero-section {
    margin-top: 150px;
}

.section1 .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('images/wave (1).svg') repeat-x;
    background-size: cover;
}

/* Waves individually */
.section1 .wave1 {
    z-index: 2;
    opacity: 0.8;
    animation: waveAnim 10s linear infinite;
}

.section1 .wave2 {
    z-index: 3;
    opacity: 0.3;
    bottom: 10px;
    animation: waveAnim 15s linear infinite;
}

.section1 .wave3 {
    z-index: 4;
    opacity: 0.2;
    bottom: 20px;
    animation: waveAnim 20s linear infinite;
}

.section1 .wave4 {
    z-index: 5;
    opacity: 0.1;
    bottom: 30px;
    animation: waveAnim 25s linear infinite;
}

.section1 .container {
    position: relative;
    z-index: 10;
}

.section1 .wave {
    z-index: 1;
}

/* Animation */
@keyframes waveAnim {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}



/* section2 */


.section2 .button1 {
    color: #1F6E1F;
}

.section2 .hero-section {
    margin-top: 180px;
}

.section2 .button2 {
    background-color: #1F6E1F;
    color: white;
    transition: all 0.4s ease;
    /* smooth animation */
    position: relative;
}

.section2 .button2:hover {
    background-color: #90EE90;
    border: none;
    transform: translateX(20px);
    color: white;
}


.section2 .icon-bg {
    width: 60px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 50%;
    margin: 30px auto 0;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-bg i {
    font-size: 30px;
}

.icon-bg:hover{
    background-color: #90EE90;
    color: white;
}


.section2 .button3{
    color: blue;
    
}

.section2 .button3 i{
    
    color: orange;
}


.section2 .btn:hover{
    color:green ;
   box-shadow: 0 0 3px 2px green;

}



.section3 .margin{
    margin-top: 120px;
    margin-bottom: 50px;
}

.section3 h2{
    color: rgba(9, 9, 117, 0.959);
}

/* section 4 */

.section4 .margin{
    margin-top: 120px;
    margin-bottom: 50px;
}

.section4 h2{
    color: rgba(9, 9, 117, 0.959);
}



/* section 5 */

.section5 .margin{
    margin-top: 200px;
    margin-bottom: 50px;
}

.section5 h2{
    color: rgba(9, 9, 117, 0.959);
}



/* footer */

.footer {
    background:rgba(9, 9, 117, 0.959) ;
    color: white;
    padding: 50px 0 20px;
}

.footer h5 {
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer a {
    color: whitesmoke ;
    opacity: 50%;
    text-decoration: none;
    transition: color 0.3s;
}



.footer button {
    color: white;
    background-color: green;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

.address {
    color: #999;
    line-height: 1.6;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    padding-top: 20px;
    margin-top: 30px;
    color: #999;
    text-align: center;
}



/* media qureis */


@media (min-width: 768px) and (max-width: 1115px) {
 

}

@media (min-width: 576px) and (max-width: 768px) {
   
}


@media (max-width: 576px) {
  .cards{
    width: 200px;
    height:200px ;
  } 
}
